<!-- app/templates/home/dashboard.html -->
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="dashboard-section">
  <div class="dashboard-row">
    <div class="today-expense-wrapper">
      <div class="dash-wrapper">
        {% include "includes/today_expense.html" %}
        <input id="add-expense-button" type="button" value=" + ">
      </div>
    </div>
    <div class="budget-and-savings-wrapper">
      <div class="dash-wrapper margin-down">
        {% include "includes/budgets.html" %}
      </div>
      <div class="dash-wrapper margin-down">
        {% include "includes/savings.html" %}
      </div>
    </div>
  </div>
  <div class="dashboard-row">
    <div class="week-expense-wrapper">
      {% include "includes/week_expense.html" %}
    </div>
  </div>

  <div class="expense-modal" id="expense-modal">
    <div class="expense-modal-content">
      <span class="close">&times;</span>
      {% include "includes/modal/add-expense-form.html" %}
    </div>
  </div>
</div>

<script type=text/javascript src="{{
  url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
