<!-- /templates/includes/modal/edit-budget-form.html -->

{% block body %}
  <h2>Edit Budget</h2>
  </br>
  <div id="edit-budget-error" class="error-message"></div>
  <form id="edit-budget-form" method="POST">
    {{ budgetForm.csrf_token }}
    {{ budgetForm.dailyBudgetField.label }} </br>
    {{ budgetForm.dailyBudgetField(size=60) }} </br></br>

    {{ budgetForm.weeklyBudgetField.label }} </br>
    {{ budgetForm.weeklyBudgetField(size=60) }} </br></br>

    {{ budgetForm.monthlyBudgetField.label }} </br>
    {{ budgetForm.monthlyBudgetField(size=60) }} </br></br>

    {{ budgetForm.yearlyBudgetField.label }} </br>
    {{ budgetForm.yearlyBudgetField(size=60) }} </br></br>

    <input id="edit-budget-submit-button" type="submit" value="Add">
  </form>
{% endblock %}
