<!-- app/templates/history/history.html -->

{% extends "base.html" %}
{% block title %}History{% endblock %}
{% block head %}
  <link href="{{ url_for('static', filename='css/history.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}
{% block body %}

<div class="history-main-container">

  <div class="history-left-side-container">
    <div class="date-selection">
      <div class="month-button">
        January
      </div>
      <div class="month-button">
        February
      </div>
      <div class="month-button">
        March
      </div>
    </div>
  </div>

  <div class="history-right-side-container">

    <div class="toggle-display">
    </div>

    <div class="summary-container">
      <div class="summary-block">
        <p>Year-to-Date Savings</p>
        <p id="ytd-savings">0</p>
      </div>
    </div>

  </div>

</div>



<script type=text/javascript src="{{ url_for('static', filename='js/history.js') }}"></script>
{% endblock %}
