<!-- app/templates/history/history.html -->

{% extends "base.html" %}
{% block title %}History{% endblock %}
{% block head %}
  <link href="{{ url_for('static', filename='css/history.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script>var minDate = '{{ minDate }}'</script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}
{% block body %}

<div class="history-main-container">

  <div class="btn-group">
    <button class="mode-button">Savings</button>
    <button class="mode-button">Expenses</button>
    <button class="mode-button">Dual</button>
  </div>


  <div id="history-left-side-container">
    <div class="date-option-container">
      <div class="toggle-button" id="toggle-range">
        Date Range
      </div>
      <div class="toggle-button" id="toggle-single">
        Single Date
      </div>
    </div>
    <div class="date-input-container">
      <input type="text" id="date-input" placeholder="Select Date" size="100">
    </div>
  </div>

  <div id="history-right-side-container">
    <div class="summary-container">
      <div id="summary-header">Savings</div>
      <div class="summary-sub-container">
        <p id="year-savings" class="savings-heading">{{ todayYear ~ " Year-to-Date"}}</p>
        <p id="year-savings-value" class="savings-value">{{ ytdSavings }}</p>
      </div>
      <div id="month-summary-div" class="summary-sub-container">
        <p id="month-savings-header" class="savings-heading">{{ todayMonth ~ " " ~ todayYear }}</p>
        <p id="month-savings-value" class="savings-value">{{ monthSavings }}</p>
      </div>
      <div id="date-summary-div" class="summary-sub-container">
        <p id="date-savings-header" class="savings-heading">{{ todayDate }}</p>
        <p id="date-savings-value" class="savings-value">{{ todaySavings }}</p>
      </div>
    </div>
  </div>

  <div id="history-bottom-expense-container">
    {% include "includes/today_expense.html" %}
  </div>
  <div class="form-modal" id="add-expense-modal">
    <div class="form-modal-content">
      <span id="close-add-expense" class="close">&times;</span>
      {% include "includes/modal/add-expense-form.html" %}
    </div>
  </div>

</div>

<script type=text/javascript src="{{ url_for('static', filename='js/add-expense-modal.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/history.js') }}"></script>
{% endblock %}
