/* app/static/css/history.css */

.history-main-container {
  margin: 50px;
}

#history-left-side-container {
  display: inline-block;
  width: 50%;
  margin-right: 25px;
  border: 1px #66b5ff solid;
  border-radius: 25px;
  padding: 10px;
}

#history-right-side-container {
  display: inline-block;
  width: 40%;
  margin-left: 25px;
  text-align: center;
  vertical-align: top;
  border: 1px #66b5ff solid;
  border-radius: 25px;
}


.toggle-button {
  /* width: 20%; */
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50px;
  border: black 1px solid;
}

.toggle-button:hover {
  background-color: #b3dbff;
}

.toggle-button:active {
  background-color: #99cfff;
}


.summary-container {
  font-size: 1.25em;
  /* color: #003566; */
  padding: 10px;
}

#summary-header {
  margin: 10px;
  font-size: 1.5em;
}

.summary-sub-container {
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid #b3daff 1px;
  border-radius: 25px;
}

.savings-heading {
  color: #003566;
}

.savings-value {
  /* color: #29a329; */
}

.date-option-container {
  display: inline-block;
  width: 30%;
  /* border: 1px blue solid; */
}

.date-input-container {
  display: inline-block;
  /* width: 50%; */
  /* vertical-align: top; */
  /* border: 1px blue solid; */
  margin: 50px;
}

#date-input {
  /* border: solid 5px #4da9ff; */
}
