/* app/static/css/history.css */

.history-main-container {
  margin: 50px;
}

#history-left-side-container {
  display: inline-block;
  width: 50%;
  margin-right: 25px;
  border: 1px black solid;
}

#history-right-side-container {
  display: inline-block;
  width: 40%;
  margin-left: 25px;
  text-align: center;
  vertical-align: top;
  border: 1px black solid;
}


.month-button {
  /* width: 20%; */
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50px;
  border: black 1px solid;
}

.month-button:hover {
  background-color: #b3dbff;
}

.month-button:active {
  background-color: #99cfff;
}


.summary-container {
  font-size: 1.25em;
}

.summary-sub-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.date-option-container {
  display: inline-block;
  width: 30%;
  border: 1px blue solid;
}

.date-input-container {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  border: 1px blue solid;
  margin: 50px;
}
