{% block body %}
<div class="budget-container">
  <h3>Budgets Remaining</h3>
  <table class="budget-table">
    <tr>
      <th>Today</th>
      <th>Week</th>
      <th>Month</th>

    </tr>
    {% if budget %}
      <tr>
        <td id="budget-daily">{{ budget.today }}</td>
        <td id="budget-weekly">{{ budget.week }}</td>
        <td id="budget-monthly">{{ budget.month }}</td>

      </tr>
    {% endif %}
  </table>
  {% if not budget %}
    <p>No budgets set</p>
  {% endif %}
  <div class="right-side-button edit-budget-button">
    <div class="round-button" id="edit-budget-button"><i class="fa fa-edit" style="font-size:45px;"></i></div>
  </div>
</div>
{% endblock %}


<!-- <div class="right-button-wrapper">
  <input id="edit-budget-button" type="button" value=" + ">
</div> -->

      <!-- <th>Year</th> -->
<!-- <td id="budget-yearly">{{ budget.year }}</td> -->
