
{% block body %}
<div class="today-expense-container">
  <h3>Today's Expenses</h3>
  <table class="today-expense-table">
    <tr>
      <th>Item</th>
      <th>Cost</th>
    </tr>
    <tr class="space-row">
    </tr>
    {% if today_expenses %}
      {% for expense in today_expenses %}
        <tr id='{{ expense.id }}'>
          <td>{{ expense.item }}</td>
          <td>{{ expense.cost }}</td>
          <td><div class="delete-expense">x</div></td>
        </tr>
      {% endfor %}
    {% endif %}
  </table>
  <div class="right-side-button add-expense-button">
    <div class="round-button" id="add-expense-button"><i class="fa fa-plus" style="font-size:45px;"></i></div>
  </div>
</div>
{% endblock %}
