<!DOCTYPE html>
<html lang="en">
<header>
  <title>{{ title }} | Expense Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>
<body>
  <ul class="nav">
    <li class="left"><a class="brand" href="{{ url_for('home.homepage') }}">Expense Tracker</a></li>
    {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Savings</a></li>
      <li><a href="#">Expense</a></li>
      <li><a href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
    {% else %}
      <li><a href="{{ url_for('auth.login') }}">Login</a></li>
      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
    {% endif %}
  </ul>

  <div class="wrapper">
    {% block body %}
    {% endblock %}
    <div class="push"></div>
  </div>

  <footer>
      <div class="container">
          <div class="row">
          </div>
      </div>
  </footer>

</body>
</html>
